header {
    padding: 50px;
    text-align: center
}

.skills {
    padding: 50px;
    background-color: #1A1A1A;
    color: #FFF; 
    float: left;
    width: 100%;
}

.skills h2 {
    text-align: center;
}

.skills .skills-left {
    float: left;
    width: 50%;
}

.skills .skills-right {
    float: right;
    width: 50%;
}